.blog {
  padding: 160px 10px 80px;
}

.blog h2 {
  font-size: 30px;
  font-weight: 700;
  color: #1a1a1a;
}

.accordion {
  padding: 0 100px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button {
  font-size: 20px;
  font-weight: 500;
  color: #1a1a1a;
}

.accordion-button:not(.collapsed) {
  font-size: 20px;
  color: #c300b9;
  background: rgb(195, 0, 185, 10%);
}

@media (max-width: 991px) {
  .accordion {
    padding: 0;
  }
}
