.footer-wrapper {
  background: #1a1a1a;
  padding: 50px 0;
}

.footer-logo img {
  max-width: 125px;
  padding-bottom: 10px;
}

.footer-logo p,
.newsletter p {
  font-size: 18px;
  color: #ffffff;
  padding: 10px 0;
}

.footer-social a {
  font-size: 20px;
  color: #ffffff;
  padding-right: 15px;
  transition: 0.3s ease-in-out;
}

.footer-social a:hover {
  color: #c300b9;
}

.important-links h3,
.newsletter h3 {
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 20px;
}

.important-links .links li {
  list-style: none;
  padding: 5px 0;
}

.important-links .links a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.important-links .links a:hover {
  color: #c300b9;
}

.newsletter-form input {
  background: none;
  color: #ffffff;
  border: 1px solid #c300b9;
  padding: 10px 20px;
  border-radius: 5px;
}

input[type="submit"] {
  background: #c300b9;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background: #fd0af1;
}

.newsletter-form ::placeholder {
  color: #ffffff;
}

.footer-copyright p {
  font-size: 18px;
  text-align: center;
  background: #000000;
  color: #dadada;
  margin: 0;
  padding: 10px 0;
}
