.add-service {
  max-width: 800px;
  margin: auto;
  padding: 180px 10px 80px;
}

.add-service h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #1a1a1a;
  padding-bottom: 50px;
}
